spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 10

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

  flyway:
    clean-disabled: true

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    root: WARN
    com.logifin: INFO
    org.hibernate.SQL: WARN
